# Byte-compiled / optimized / DLL files
__pycache__/

# The folders and files to be ignored
_tools/__pycache__/
.idea/
.Rproj.user/
.ruff_cache/
_ts_AQ.Rproj
_tools/ReportRunner.exe
_tools/ReportRunner.Readme.html
out/*.*
out/csv/
out/long_duckdb/
_hourly_2_daily_test/
scripts/_function_testing.ps1
scripts/duckdb/_steps_limitations.sql
scripts/duckdb/_steps_in_general.sql
scripts/duckdb/1_run_after_pwsh_script_duckdb_limitations.sql
scripts/python/0_run_before_pwsh_script - NOT WORKING.py
scripts/python/1_run_after_pwsh_script_pd.py
scripts/R/0_run_before_pwsh_script - NOT WORKING.R
scripts/R/1_run_after_pwsh_script_df.R
scripts/read_duckdb_file.py
scripts/tmp.ps1
scripts/ORC_LSR_deliverable_2025-06.ps1
scripts/tmp.py
scripts/tmp.R
scripts/tmp.sql
bak/*.*
./.ruff.toml
